*{      /*all elemnts have these properties*/
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
 /* box-sizing:/ border-box; border box shrinks to absorb extra border */
  }
  
  header {
    font-family:sans-serif,Georgia,  Times, serif;
   
    height: 60px;
    width:100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
    
    
  } 
  nav{  
    background: #34c9ff;
    height: 60px;
    width: 100%;
    position:absolute;
    /* bottom: 18px; */
  }
  label.logo{
    float: left;
    color: black;
    font-size: 10%;
    /* line-height: 120px; */
    /* padding: 0 25px; */
    font-weight: bold;
    position: relative;
    top:22%;
    left:1%
  }   
  #clubname{
    /* position: absolute; */
    /* bottom:27px; */
    font-size: 40px;
    font-family:sans-serif ;
    position: relative;
    bottom:7px;

  }
nav ul{
float: right;
margin-right: 20px;
}
nav ul li{
display: inline-block;
/* line-height: 130px; */
margin: 0 5px px;
}
nav ul li a{
color: white;
font-size: 27px;
padding: 0px 5px;
/* padding-top: 10px; */
border-radius: 10px;
text-transform: uppercase;
position: relative;
top:15px;
}
a.nb:hover{
background: rgba(151, 210, 255, 0.9);
transition: .5s;
cursor: pointer;
}


.welcome-text {
    background: linear-gradient(rgba(34, 33, 33, 0.8), rgba(0, 0, 0, 0.8)), url(smartphone-vintage-technology-music.jpg);
    background-size: cover;
    -webkit-background-size: cover;
 
  background-position: center center;
    
    /* width: 600px; */
    height: 780px;
    /* margin: 20% 30%; */
    text-align : center;
  }
  .welcome-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-family: sans-serif;
    position:relative;
    top:33.9%;
  }

  
   /* .WTC{ 
    position: relative;
    animation-name: WTC;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    
  }

  @keyframes WTC{
    from{
      top:300px;
      font-size:40px;
      
    }
    to {
      bottom:100x;
      font-size:50px;
      
    }
  } */
  #Aequote{
    position:relative;
    top: 337px;
    
    /* right:428px; */
    text-align: center;
    color: #34c9ff;
    font-size: 25px;
    font-weight: 200;
    font-family: sans-serif;
    
  }
 #AE{
   POSITION:absolute;
   top: 600px;
   right:400px;
   font-size: 20px;
   color: #ffffff;
   text-align: center;
   font-family: sans-serif;
 }

 #intropage{
  
    background: /* linear-gradient(rgba(56, 55, 55, 0.8), rgba(34, 33, 33, 0.8) ),*/ url(2.jpeg);
    
    height: 900px;
    width:100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  .intro-text{
    position:relative;
    left: 66.6%;
    top: 128px;
    font-family:sans-serif,Georgia,  Times, serif;
    width: 470px;
    border: 5px solid #FEDD8F;
    border-radius:5px ;
    padding: 4px;
    /* border-top-left-radius: 30px ; */
    /* border-bottom-left-radius:30px ; */
    box-sizing:border-box ;
    text-align:center ;
      color: #fff;
      /* text-transform: uppercase;  */
      font-size: 18px;
      
  
  }
  
  
   
  #excitementtext{  position:relative;
    left: 1.7%;
    top: 500px;
    /* font-family: 'Cookie', cursive; */
    /* font-family: 'Amatic SC', cursive; */
    /* font-family: 'Calligraffitti', cursive; */
    /* font-family: 'Sacramento', cursive; */
    width: 450px;
    /* border: 8px solid #FEDD8F; */
    border-radius:15px ;
    padding: 6px;
    /* border-top-left-radius: 30px ; */
    /* border-bottom-left-radius:30px ; */
    box-sizing:border-box ;
    text-align:center ;
      color: #fff;
      /* text-transform: uppercase; */
      font-size: 17px;
  
  }
  

  #aboutpage1{

    font-family:sans-serif,Georgia,  Times, serif;
    background: linear-gradient(rgba(34, 33, 33, 0.8), rgba(0, 0, 0, 0.8)), url(purple.jpg);
    height: 900px;
    width:100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
  }
  
  #treble-clef{
    font-size: 80px;
    position: relative;
    top:12px;
  }
     

#about-text{ 
    position:relative;
    left: 7.5%;
    top: 14.5%;
    font-family: 'Roboto', sans-serif;
    
    width:85%;
    border: 4px solid #408ad7;
    border-radius:50px ;
    padding-left: 15px;
    padding-right: 15px;padding-top: 0px;
    padding-bottom: 46px;
    /* border-top-left-radius: 30px ; */
    /* border-bottom-left-radius:30px ; */
    box-sizing:border-box ;
    text-align:center ;
      color: white;
      font-weight:300;
      font-size: 40px;
}





#aboutpage2{
  font-family:sans-serif,Georgia,  Times, serif;
  /* background: linear-gradient(rgba(34, 33, 33, 0.8), rgba(0, 0, 0, 0.8)), url(college.png); */
  background:linear-gradient(135deg, #0f1f5e, #30b4bb);
  /* background-color:#408ad7; */
  height: 900px;
  width:100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}



#gallery{
  text-align: center;
  font-size: 75px;
  position: relative;
  top:2.5%;
  color: #fff;
  font-family:  'Cookie', cursive;
  font-weight: 100;


}

.img{
    display:block;
    float:left;
    width: 17%;
    position: relative;
    left:6.5%;
    top:6.25%;
    margin-right: 180px;
    margin-bottom:50px;
    
  
}

.images{  
  width:400px;
  height:267px;
 
  
}

.images:hover{
  transform: scale(1.2,1.2);
  transition: .3s transform;

}

#events-page{
  font-family:sans-serif,Georgia,  Times, serif;
  background: linear-gradient(rgba(34, 33, 33, 0.8), rgba(0, 0, 0, 0.8)),url(bluey\ perf.jpg);
   background-color: #FEDD8F; 
  height: 715px;
  width:100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
 
}


#event-text{ 
  position:relative;
  left:7.5%;
  top:100px;
  font-family: 'Roboto', sans-serif;
  width: 85%;
  border: 4px solid rgba(17, 131, 186, 0.88);
  border-radius:50px ;
  padding-left: 15px;
  padding-right: 15px;padding-top: 15px;
  padding-bottom: 15px;
  /* border-top-left-radius: 30px ;  */
   /* border-bottom-left-radius:30px ; */
  box-sizing:border-box ;
  text-align:center ;
    color: rgba(255, 255, 255, 0.82);
    font-weight:300;
   
    
    font-size: 45px;
}


#contact-us{
  font-family:sans-serif,Georgia,  Times, serif;
  background: linear-gradient(rgba(34, 33, 33, 0.8), rgba(0, 0, 0, 0.8)),url(about\ copy.jpg);
  height: 650px;
  width:100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;

}

#ctitle{
  
  text-align: center;
  color:rgb(255, 255, 255);
  position: relative;
  top:50px ;
  
}

#firstline{
  font-size: 60px;
}

#secondline{
  font-size: 40px ;
}

form{
  position: relative;
  top:90px;
  text-align: center;
  
  
}
.inputs{
  width:500px;
  height:35px;
  background: transparent;
  border-color: black;
  outline: none;
  margin: 15px;
  font-size: 20px;
  font-weight: 200;
  color: #ffffff;
}


#submit{
  background-color: rgb(36, 70, 8);
  color: #fff;
  border-color: transparent;
  font-size: 25px;
  margin-top: 28px  ;
  font-weight: bold;
  letter-spacing: 2px;
  height:35px;
  width:250px;
}

#submit:hover{
  transform: scale(1.1,1.1);
  transition: .3s transform;
  background-color: rgb(74, 153, 42);
  cursor: pointer;

}

footer{
  height: 200px;
  width:100%;
  background-color: #000000;
  position:relative;
  font-size: 15px ;
  
}

.footer-links{
  position:relative;
  left:175px;
  top:35px;
  color:#ffffff;
}

#navigate{
  width:50%;
  font-size: 20px;
  color:#ffffff ;
  position: relative;
  top:25px;
  left:175px;
  font-weight: 500;
}

#find-us{
  position: absolute;
  left: 100px;
  top :24px;
  font-size: 20px;
  color:#ffffff ;
  top:25px;
  left:275px;
  font-weight: 500;
  
}

.social-media{
  position:relative;
  left:275px;
  bottom:51px;
  color:#ffffff;
}
